* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main section {
  border: 1px solid;
  flex-grow: 1;
}

section:nth-child(2) {
  color: red;
  order: 1;
}

@media screen and (min-width: 768px) {
  main {
    flex-direction: row;
    flex-wrap: wrap;
  }

  section:nth-child(2) {
    order: 0;
  }

  section {
    flex-basis: 50%;
  }
}
